<ion-content >

    <div class ="container" > 
      <div class="meddu">
      <ion-title> MEDDU</ion-title>
      <ion-title > EDUCATION</ion-title>
      </div>
      
      
    </div>
    <ion-card>
      <br>
      <br>
      <h2>LOGIN</h2>

      <br>
      <br>
      <div class="login">
       

      <ion-list>
        
        <ion-label>Username</ion-label>
        <br>
        <br>
        <ion-input></ion-input>
      <br>
      <br>
        <ion-label> Password</ion-label>
          <ion-input></ion-input>
          
          <p class="forgot">Forgot your password</p>
  
      <ion-button expand="round" (click)="loginUser()">LOGIN</ion-button>
    </ion-list>
   </div>
  
   <div class="signin">
    <P>Don't have an account? Sign Up </P>
  
  </div>
  <br>
  <br>
  <br>
    </ion-card>

  

    
        
          
    
             
  
    </ion-content>
    
    