<ion-content padding center text-center>

    <div class ="container" > 
      <div class="meddu">
      <ion-title> MEDDU</ion-title>
      <ion-title > EDUCATION</ion-title>
      </div>
      

    

    
        
          
             <div class="login">
               <h1><b>LOGIN</b></h1>
              </div>
    
              <div class="username">
              <ion-item lines="full">
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
              </div>
    
              <div class="password">
              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required></ion-input>
              </ion-item>
            </div>
            <div class="forget" >
                <a class="small-text">Forget your password</a>
              </div>
             
          <div class="login-btn">
              <ion-row>
                <ion-col>
                  <ion-button type="submit"  expand="round">LOGIN</ion-button>
                </ion-col>
              </ion-row>
          </div>
          <div class="dont-have-account">
            <a >Dont have an account? Signup</a>
          </div>
             <br>
             <br>
             <br>
             <br>    <br>
             <br>
             <br>
             <br>
             <br>
          </div>
        
        

    
       
    
      
       
    
    
    
    
    </ion-content>
    
    